<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="ui_category_listing_data_source" xsi:type="string">Magestore\FAQ\Model\ResourceModel\Category\Grid\Collection</item>
                <item name="ui_detail_listing_data_source" xsi:type="string">Magestore\FAQ\Model\ResourceModel\Detail\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Magestore\FAQ\Model\ResourceModel\Category\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">faq_category</argument>
            <argument name="resourceModel" xsi:type="string">Magestore\FAQ\Model\ResourceModel\Category</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magestore\FAQ\Model\ResourceModel\Detail\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">faqs_detail</argument>
            <argument name="resourceModel" xsi:type="string">Magestore\FAQ\Model\ResourceModel\Detail</argument>
        </arguments>
    </virtualType>

    <virtualType name="Magestore\FAQ\CategoryImageUpload" type="Magento\Catalog\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">category/tmp/images</argument>
            <argument name="basePath" xsi:type="string">category/images</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
            <argument name="allowedMimeTypes" xsi:type="array">
                <item name="jpg" xsi:type="string">image/jpg</item>
                <item name="jpeg" xsi:type="string">image/jpeg</item>
                <item name="gif" xsi:type="string">image/gif</item>
                <item name="png" xsi:type="string">image/png</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magestore\FAQ\Controller\Adminhtml\Category\Image\Upload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Magestore\FAQ\CategoryImageUpload</argument>
        </arguments>
    </type>
</config>
